.button {
  border: 2px solid brown;
  background-color: brown;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.5);
  padding: 4px 15px;
  color: black;
  border-radius: 7px;
  text-decoration: none;
  font-size: 17px;
}

.button:hover {
  border: 2px solid yellow;
  background-color: yellow;
}

.button:active {
  border: 2px solid blue;
  background-color: blue;
}
